<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Subcategory</h1>
<form action="/subcategory/update/<%= subcategory._id %>" method="post">
    <select name="categoryId" required>
        <% categories.forEach(cat => { %>
            <option value="<%= cat._id %>" <%= cat._id.equals(subcategory.categoryId) ? 'selected' : '' %>>
                <%= cat.title %>
            </option>
        <% }) %>
    </select>
    <input type="text" name="title" value="<%= subcategory.title %>" required>
    <input type="submit" value="Update Subcategory">
</form>

</body>
</html>